@charset "UTF-8";
@import url("/fonts/gilroy/stylesheet.css");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.block-name {
  font-family: Gilroy;
  color: #070707;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}

.name-program {
  font-size: 14px;
  color: #828282;
  text-align: center;
}

.stars__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stars__block li {
  padding-right: 9px;
}

.wrapper {
  max-width: 100%;
  height: auto;
  font-family: Gilroy;
  min-width: 375px;
  margin: 0 auto;
}

.wrapper .header {
  max-width: 943px;
  height: auto;
  margin: 0 auto;
  padding: 33px 10px 0px 10px;
}

.wrapper .header .nav {
  position: relative;
}

.wrapper .header .nav .icon__burger {
  display: none;
}

.wrapper .header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .header .nav ul li {
  font-size: 18px;
  font-weight: 650;
  list-style-type: none;
  padding-bottom: 42px;
}

.wrapper .header .nav ul li a {
  text-decoration: none;
  color: #828282;
}

.wrapper .header .nav ul li a:hover {
  text-shadow: 1px 1px black;
}

.wrapper .header .nav ul li .firstElement {
  color: #070707;
}

.wrapper .header .line {
  max-width: 100%;
  height: 2px;
  background: #828282;
}

.wrapper .header .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .header .description h1 {
  font-size: 74px;
  color: #070707;
  font-weight: 600;
}

.wrapper .header .description .description__profession {
  font-size: 18px;
  color: #070707;
  line-height: 22px;
  padding-top: 150px;
}

.wrapper .header .description .description__language {
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 83px;
  margin-right: -25px;
}

.wrapper .header .description .description__language .description__language_povorot {
  color: #070707;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.wrapper .header .description .description__language .description__language_povorot span {
  color: #828282;
}

.wrapper .header .main-photo {
  text-align: center;
}

.wrapper .header .main-photo img {
  max-width: 100%;
  height: auto;
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .wrapper .header {
    padding: 30px 10px 0px 10px;
  }
  .wrapper .header .nav ul li {
    font-size: 18px;
    padding-bottom: 30px;
  }
  .wrapper .header .description h1 {
    font-size: 54px;
  }
  .wrapper .header .description .description__profession {
    padding-top: 90px;
  }
  .wrapper .header .description .description__language {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 83px;
    margin-right: -25px;
  }
  .wrapper .header .main-photo {
    text-align: center;
  }
  .wrapper .header .main-photo img {
    max-width: 100%;
    height: auto;
    padding-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .wrapper .header {
    padding: 0px 10px 0px 10px;
  }
  .wrapper .header .nav .icon__burger {
    display: block;
  }
  .wrapper .header .nav ul {
    display: none;
  }
  .wrapper .header .line {
    display: none;
  }
  .wrapper .header .description {
    display: block;
    padding: 0px 0px 0px 26px;
  }
  .wrapper .header .description h1 {
    font-size: 47px;
  }
  .wrapper .header .description .description__profession {
    padding: 20px 0px;
  }
  .wrapper .header .description .description__language {
    display: none;
  }
  .wrapper .header .main-photo img {
    padding-bottom: 30px;
  }
}

.icon__burger {
  position: absolute;
  top: 10px;
  right: 30px;
}

.burger {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.burger-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.burger a {
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 34px;
  color: #828282;
  font-weight: 600;
  margin-bottom: 68px;
}

.burger .closebtn {
  position: absolute;
  top: 60px;
  right: 30px;
}

.about {
  text-align: center;
  background: #F6F6F6;
}

.about .about__tytle {
  padding-top: 120px;
}

.about .description {
  max-width: 480px;
  padding-top: 17px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.about .description p {
  padding-top: 20px;
  font-size: 18px;
  color: #070707;
  line-height: 22px;
}

@media (max-width: 992px) {
  .about .about__tytle {
    padding-top: 80px;
  }
  .about .description {
    padding-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .about .about__tytle {
    padding-top: 40px;
  }
  .about .description {
    max-width: 430px;
    padding-top: 17px;
    padding-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .about .about__tytle {
    padding-top: 29px;
  }
  .about .description {
    max-width: 316px;
    padding-top: 17px;
    padding-bottom: 76px;
  }
}

.skills {
  background: #fff;
  padding-top: 90px;
  max-width: 935px;
  margin: 0 auto;
}

.skills div {
  padding-top: 69px;
}

.skills div p {
  color: #070707;
  font-size: 18px;
  text-align: center;
}

.skills .skills__items {
  padding: 87px 0px 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .skills__items .block-program {
  width: 175px;
  padding: 0;
}

.skills .skills__items .block-program .icon {
  text-align: center;
  padding: 0px 0px 0px 0px;
}

.skills .skills__items .block-program .icon img {
  background: #2E1B43;
}

.skills .skills__items .block-program .icon .icon_figma {
  background: #fff;
}

.skills .skills__items .block-program .name-program {
  padding: 25px 0px 0px 0px;
}

.skills .skills__items .block-program .stars {
  padding: 40px 0px 0px 9px;
}

@media (max-width: 992px) {
  .skills {
    padding-top: 60px;
    max-width: 800px;
  }
  .skills div {
    padding-top: 50px;
  }
  .skills .skills__items {
    padding: 70px 0px 90px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills .skills__items .block-program {
    width: 175px;
  }
}

@media (max-width: 767px) {
  .skills {
    padding-top: 60px;
    max-width: 800px;
  }
  .skills div {
    padding-top: 50px;
  }
  .skills div p {
    margin-bottom: -80px;
  }
  .skills .skills__items {
    padding: 70px 0px 90px 0px;
    display: block;
  }
  .skills .skills__items .block-program {
    width: 175px;
    margin: 0 auto;
    padding-top: 80px;
  }
}

.portfolio {
  background: #F6F6F6;
  padding-top: 110px;
  padding-bottom: 96px;
}

.portfolio .portfolio__photo {
  padding-top: 47px;
  text-align: center;
  max-width: 936px;
  margin: 0 auto;
}

.portfolio .portfolio__photo img {
  width: 100%;
}

.portfolio .portfolio__link {
  padding-top: 44px;
  font-size: 18px;
  text-align: center;
}

.portfolio .portfolio__link .portfolio__link_underline {
  color: #070707;
  text-decoration: underline;
}

@media (max-width: 992px) {
  .portfolio {
    padding: 90px 30px;
  }
  .portfolio .portfolio__link {
    padding-top: 40px;
  }
}

@media (max-width: 480px) {
  .portfolio {
    padding: 80px 30px;
  }
  .portfolio .portfolio__link {
    padding-top: 35px;
  }
}

footer {
  padding: 110px 0px 120px 0px;
  text-align: center;
}

footer .contacts__description {
  font-size: 18px;
  color: #070707;
  padding-top: 20px;
  line-height: 21px;
}

footer .contacts__button {
  padding-top: 29px;
}

footer .contacts__button button {
  font-size: 18px;
  color: #fff;
  background: #070707;
  padding: 13px 30px 13px 30px;
  white-space: nowrap;
  border-radius: 25px 25px;
  font-weight: 600;
}

footer .contacts__button button a {
  color: #fff;
}

footer .contacts__button button:hover {
  -webkit-box-shadow: 0px 0px 15px gray;
          box-shadow: 0px 0px 15px gray;
}

footer .contacts__social {
  padding-top: 79px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 330px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .contacts__name {
  padding-top: 45px;
  text-align: center;
}

footer .contacts__name .social-name {
  color: #828282;
  font-size: 14px;
  line-height: 16px;
}
