// Veribtles
$black: #070707;
$gray: #828282;
//Fonts
@import url("/fonts/gilroy/stylesheet.css");
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
//Header
.wrapper {
    width: 100%;
    height: 100%;
    .conteiner {
        max-width: 1445px;
        margin: 0 auto;
        padding: 0px 10px 0px 10px;
        .header {
            padding: 33px 0px 0px 0px;
            .nav {
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                        font-size: 18px;
                        font-weight: 650;
                        list-style-type: none;
                        font-family: Gilroy;
                        padding-bottom: 42px;
                        a {
                            text-decoration: none;
                            color: $gray;
                        }
                        .firstElement {
                            color: $black;
                        }
                    }
                }
            }
            .line {
                width: 100%;
                height: 2px;
                background: #828282;
            }
            .description {
                font-family: Gilroy;
                display: flex;
                justify-content: space-between;
                h1 {
                    font-size: 74px;
                    color: $black;
                    font-weight: 600;
                }
                .description__profession {
                    font-size: 18px;
                    color: $black;
                    line-height: 22px;
                    padding-top: 150px;
                }
                .description__language {
                    font-size: 16px;
                    font-weight: 700;
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 83px;
                    margin-right: -25px;
                    .description__language_povorot {
                        color: $black;
                        -webkit-transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -o-transform: rotate(-90deg);
                        -ms-transform: rotate(-90deg);
                        transform: rotate(-90deg);
                        span {
                            color: $gray
                        }
                    }
                }
            }
            .main-photo {
                width: 100%;
                text-align: center;
                max-height: 387px;
                img {
                    width: 100%;
                    display: block;
                    padding-bottom: 100px;
                }
            }
        }
    }
}

